<p><strong>Búsqueda de preguntas por palabra(s) clave</strong></p>
<form method="get" action="/quizes">
  <p>Texto a buscar:
  <input type="text" name="search" value="Texto" />
  <input type="submit" value="Enviar" />
  </p>
</form>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<% if (quizes.length > 0) { %>
	<table>
		<% var i; for (i=0; i< quizes.length; i++) { %>
			<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
		<% } %>
	</table>
<% } else { %>
	<p>No hay coincidencias.</p><br/>
<% } %>